<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-sidenav class="sidenav" opened fixedInViewport="true" fixedTopGap="64">
            <mat-nav-list>
                <a href="#" mat-list-item class="navlist">
                    <i class="material-icons">
                        home
                    </i>
                    Início
                </a>
                <a href="#" mat-list-item class="navlist">
                    <i class="material-icons">
                        storefront
                    </i>
                    Loja
                </a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-content>
</mat-sidenav-container>